<span class="text-primary fw-bold">{{ title }}</span>
<form class="form border border-primary rounded p-4 m-3 mx-auto">
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

    <!-- Template para nodos sin hijos -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      &nbsp;{{ node.name }}
    </mat-tree-node>
    <!-- ./Template para nodos sin hijos -->

    <!-- Template para nodos con hijos -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      &nbsp;{{ node.name }}
    </mat-tree-node>
    <!-- ./Template para nodos con hijos -->

  </mat-tree>

  <!-- Resultado textarea -->
  <mat-form-field appearance="fill" class="form-full-width mt-3">
    <mat-label>Resultado</mat-label>
    <textarea disabled matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="5">{{ fragment?.binaryResult | systemFormat : format | separateFormat : format }}</textarea>
  </mat-form-field>
  <!-- ./Resultado textarea -->

  <mat-radio-group aria-labelledby="example-radio-group-label" [(ngModel)]="format"
    [ngModelOptions]="{standalone: true}">
    <mat-radio-button class="example-radio-button" value="Binario">
      Binario
    </mat-radio-button>
    <mat-radio-button class="example-radio-button" value="Hexadecimal">
      Hexadecimal
    </mat-radio-button>
  </mat-radio-group>
</form>
